@media (max-width: 760px) {
    .about{
        flex-flow: column wrap!important;
    }
    .about .container{
        flex-flow: column-reverse wrap-reverse!important;
    }
    .box{
        width: 100%!important;
    }
    .textDiv{
        width: 60%!important;
    }
    .testimonial{
        flex-direction: column!important;
    }
    .project{
        width: 50%!important;
    }
    header .navH{
        display: none!important;
    }
    .menuBar{
        display: block!important;
    }
    .about{
        text-align: center;
    }
    .textDiv{
        width:45%!important;
    }
    .container{
        height: 200vH!important;
    }
    .box{
        height: 100vH!important;
    }
    .boxSZ{
        height: 50%!important;
    }
}

li:hover{
    color: white!important;
}
.clients{
    color:black!important;
}
li{
    list-style-type: none!important;
    cursor: pointer;
}
.contactBtn:hover{
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.contactBtn:hover .contactA{
    transition-duration: 0.5s;
    color:white!important;
}
.menuBar{
    cursor: pointer;
}


