@media (max-width: 760px) {
    .about{
        flex-flow: column wrap!important;
    }
    .about div{
        width: 100%!important;
    }
    .about .container{
        flex-flow: column wrap-reverse!important;

    }
    .testimonial{
        flex-direction: column!important;
    }
}

.clients{
    color:black!important;
}
li{
    list-style-type: none!important;
    cursor: pointer;
}
.contactBtn:hover{
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.contactBtn:hover .contactA{
    transition-duration: 0.5s;
    color:white!important;
}

