@media (max-width: 760px) {
    .about{
        flex-flow: column wrap!important;
    }
    .about div{
        width: 100%!important;
    }
    .about .container{
        flex-flow: column wrap-reverse!important;

    }
}

.clients{
    color:black!important;
}
li{
    list-style-type: none!important;
}
